.title{
  position: absolute;
  top: 0;
}

.uploadButton{
  padding: 20px 30px;
  background: #2058f6;
  color: white;
  border-radius: 50px;
  text-transform: uppercase;
  border: #2058f6 solid 4px;
  font-weight: 500;
  transition: all 0.4s ease;
  cursor: pointer;
}
.uploadButton:hover{
  background: white;
  color: #2058f6;
}

.displayedImage{
  width: 50%;
  margin: 2%;
  max-height: 60%;
}