.resultContainer{
  margin: 40px;

  .submitButton{
    padding: 1% 2%;
  }

  .resultImage{
    margin: 50px;
    width: 40%;
    border-radius: 10px;
    box-shadow: black 0 0 5px;
  }

  .waiting{
    
  }

}